# python Language Basics, Ipython, and Jupyter Notebooks
## Python Language Basics
### Language Semantics
Indentation, not braces

for x in array:  
    if x < pivot:  
        less.append(x)  
    else:  
        greater.append(x)

In [1]:
a = 5; b = 6; c = 7

In [2]:
c

7

### Everything is an object

### Comments

array라는 객체에서, 숫자를 하나씩 읽어서,
이라는 값보다 작은 숫자는 less에 넣어주고,  pivot보다 크거나 같으면 greater에 넣어준다

In [ ]:
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace("foo", "bar"))

### Function and object method calls

In [ ]:
result = f(x, y, z)
g()
obj.some_method(x, y, z)
result = f(a, b, c, d=5, e="foo")

### Variables and argument passing

In [3]:
array = [1,2,3,4,5,6,7,8,9,10]
pivot = 3
less = []
greater = []

for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

In [4]:
print(less, greater)

[1, 2] [3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
a = 'foo'

In [6]:
b = 'hello'

In [7]:
b.capitalize()

'Hello'

In [8]:
a.capitalize()

'Foo'

In [9]:
a.upper()

'FOO'

In ptyhon a module is imply a file with the .py extension containing Python code. Suppose that we had the following mudule.

In [2]:
import some_module

In [3]:
from some_module import f, g, PI
result = g(5, PI)
result

8.14159

In [4]:
import numpy as np

In [5]:
f(10)

12

In [6]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

In [7]:
r1

5.14159

In [8]:
r2

9.14159

Binary operators and comparisions

most of the binary math operations and comparisions are as you might expect:

In [9]:
12 + 21.5
5 <= 2

False

In [10]:
5 - 7

-2

In [21]:
a = [1, 2, 3]
b = a
c = list(a)

In [12]:
c

[1, 2, 3]

In [20]:
a is b

False

In [14]:
a is not c

True

In [15]:
c

[1, 2, 3]

In [19]:
a == c

False

In [17]:
a = None
a is None

True

In [22]:
a != b

False

In [50]:
a = 364
b = 364
a == b

True

In [51]:
a is b

False

In [52]:
a_list = ['foo', 2, [4, 5]]
a_list[2]

[4, 5]

In [54]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3,4)
a_list

['foo', 2, (3, 4)]

In [55]:
a_tuple = (3, 5, (4,5)) #tuple은 데이터변경이 불가하다.
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

Scalr Typles

In [56]:
#numerical data 숫자형 데이터
#string 문자형 데이터는 변경할 수 없다

In [57]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [58]:
fval = 7.243
fval2 = 6.78e-5

In [59]:
3/2

1.5

In [60]:
type(3/2)

float

In [61]:
3//2

1

In [62]:
type(3//2)

int

Strings

In [63]:
a = 'one way of writing a string'
b = "another way"

In [64]:
c = """
This is a longer string that
spans multiple lines
"""

In [65]:
c

'\nThis is a longer string that\nspans multiple lines\n'

In [66]:
c.count('\n')

3

In [68]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [69]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [71]:
a

'this is a string'

In [72]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [78]:
s[:3]

'pyt'

In [ ]:
s[4:6]

In [79]:
print('12\n34')

12
34

In [81]:
s = '12\\34'
print(s)

12\34

In [84]:
a = 'this is the first half'
b = 'and this the second half'
a + b

'this is the first halfand this the second half'

In [85]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template

'{0:.2f} {1:s} are worth US${2:d}'

In [86]:
template.format(4.5560, 'Argentine pesos', 1)

'4.56 Argentine pesos are worth US$1'

In [87]:
template.format(1253.23, 'won', 1)

'1253.23 won are worth US$1'

f-string을 사용한 출력

In [92]:
name = "John"
age = 25
print(f"My name is {name} and I'm {age} years old")

My name is John and I'm 25 years old

Booleans

In [93]:
True and True

True

In [94]:
False or True

SyntaxError: invalid syntax (3564315609.py, line 1)

In [95]:
False or False

False

Type casting

In [96]:
s = '3.14169'
fval = float(s)
type(fval)

float

In [97]:
int(fval)

3

In [98]:
bool(fval)

True

In [99]:
bool(0)

False

None

In [100]:
a = None
a is None

True

In [101]:
b = 5
b is not None

True

In [102]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    if c is not None:
        result = result * c
    return result

In [103]:
add_and_maybe_multiply(5,3)

8

In [105]:
add_and_maybe_multiply(5,3,10)

80

In [106]:
type(None)

NoneType

Dates and times

In [2]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [109]:
dt.day

29

In [110]:
dt.minute

30

In [111]:
dt.date()

datetime.date(2011, 10, 29)

In [112]:
dt.time()

datetime.time(20, 30, 21)

In [113]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [116]:
dt.strftime('%Y-%m-%d %H:%M')

'2011-10-29 20:30'

In [3]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

## Control Flow
#### Python has several built in keyworks for conditional logic, loops, and other standard control flow concepts found in other programming languages.
### if, elif, and else
#### The if statement is one if the most well

In [1]:
x = 3

if x < 0:
    print('It is negative')

In [2]:
x = 3

if x < 0:
    print('It is negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:    
    print('Positive and larger than or equal to 5')

Positive but smaller than 5

In [11]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [5]:
4 > 3 > 2 > 1

True

In [13]:
a > 5 or 2 > 1

True

### for loops
for loops are for iterating iver a collection (like a list or tuple) or an iterater. The standard syntax for a for loop is:
#### for value in collection:
    # do something with value

You can advance a for loop to the next iteration, skipping the remainder of the block, using the continue keyword. Consider this code, which sums up integers in a list and skips None values:

In [14]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    total += value

TypeError: unsupported operand type(s) for +=: 'int' and 'NoneType'

In [17]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value == None:
        continue
    total += value
total

12

In [13]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [27]:
for i in range(4):
    for j in range(4):
        print((i,j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [26]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [28]:
for a, b, c in [[1,2,3],[4,5,6],[7,8,9]]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

### while loops
a while loop specifies a condition and a block of code that is to be executed until the condition evaluates to False or the loop is explicitly ended whit break:

In [11]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
print(total)

504

### range

In [29]:
range(10)

range(0, 10)

In [30]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [5]:
sum = 0
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += 1
print(sum)

46667

In [35]:
x = 5
b = 'Non-negative' if x >= 0 else 'Negative'

In [38]:
b

'Non-negative'

In [39]:
if x >= 0:
    b = 'Non-negative'
else:
    b = 'Negative'

In [2]:
x = 5

a = 100 if x >= 0 else -100
a

100