# Built-in Data Structures, Function,
## Data Structures and Sequences
### Tuple
A tuple is a fixed-length, immutables sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In many contexts, the parentheses can be omitted, so here we could also have written:

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

You can convert any sequence or iterator to a tuple by invoking tuple:

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

While the objects stored in a tuple may be mutable themselves, once the tuple is created it’s not possible to modify which object is stored in each slot:

In [7]:
tup = tuple(['foo', [1,2], True])
# tup[2] = False
# tup[1] = [1,2,3]

If an object inside a tuple is mutable, such as a list, you can modify it in place:

In [8]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

You can concatenate tuples using the + operator to produce longer tuples:

In [9]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

Multiplying a tuple by an integer, as with lists, has the effect of concatenating that many copies of the tuple:

In [10]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [11]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [12]:
tmp = a
a = b
b = tmp

In [13]:
a, b = 1, 2
a

1

In [14]:
b

2

In [15]:
b, a = a, b
a

2

In [16]:
b

1

In [17]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8 ,9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [18]:
for a in seq:
    print(a)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

Another common use is returning multiple values from a function. I'll cover this in more detail later.

There are some situations where you may want to "pluck" a few elements from the beginning of a tuple. There is a special syntax that can do this, *rest, which is also used in function signatures to capture an arbitrarily long list of positional arguments:

In [19]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [20]:
rest

[3, 4, 5]

This rest bit is sometimes something you want to discard; there is nothing special about the rest name. As a matter of convention, many Python programmers will use the underscore (_) for unwanted variables:

In [21]:
a, b, *_ = values

### Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance methods. A particularly useful one (also available on lists) is count, which counts the number of occurrences of a value:

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

아래 list 안에 있는 숫자 2가 몇개 있는지를 세는 코드를 작성해 보시오.

In [23]:
a = [1, 2, 2, 2, 3, 4, 2]
count = 0
for i in a:
    if i == 2:
        count += 1
print(count)

4

### list
In contrast with tuples, lists are variable length and their contents can be modified in place. Lists are mutable. You can define them using square brackets [] or using the list type function:

In [24]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

In [25]:
b_list

['foo', 'bar', 'baz']

In [26]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [27]:
gen = range(10)
gen

range(0, 10)

In [28]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adding and removing elements

In [29]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [30]:
b_list.insert(1, 'red') ### 원하는 위치에 부착가능
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [31]:
b_list.pop(2) ### 원하는 위치에 있는 리스트 제거 가능 ### 인덱스
b_list

['foo', 'red', 'baz', 'dwarf']

In [32]:
b_list.remove('foo') ###원하는 객체값을 입력하여 제거
b_list

['red', 'baz', 'dwarf']

In [33]:
'dwarf' in b_list

True

In [34]:
'dwarf' not in b_list

False

### Concatenating and combining lists

In [35]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [36]:
x = [4, None, 'foo']
x.append([7, 8, (2, 3)])
x

[4, None, 'foo', [7, 8, (2, 3)]]

### Sorting

In [37]:
a = [7, 2, 5, 1, 3] 
a.sort()
a

[1, 2, 3, 5, 7]

In [38]:
a.sort(reverse=True)
a

[7, 5, 3, 2, 1]

In [39]:
b = ['saw', 'small', 'He', ' foxes',' six']
b.sort(key=len, reverse= True)
b

[' foxes', 'small', ' six', 'saw', 'He']

In [40]:
b = ['saw', 'small', 'He', ' foxes',' six']
b.sort(key=lambda x: len(x))
b

['He', 'saw', ' six', 'small', ' foxes']

Binary search and maintaining a sorted list

### Slicing

In [41]:
seq = [7, 2, 3, 7, 5, 6, 0 ,1]
seq[1:5]

[2, 3, 7, 5]

위의 list에서 slicing을 해서 [1,0,6,5]를 출력해 봅시다.

In [42]:
seq[-1:-5:-1]

[1, 0, 6, 5]

In [43]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [44]:
seq[:5]

[7, 2, 3, 6, 3]

In [45]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [46]:
seq[-4:]

[5, 6, 0, 1]

In [47]:
seq[-6:-2]

[6, 3, 5, 6]

In [48]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [49]:
seq[::2]

[7, 3, 3, 6, 1]

In [50]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Dict

In [51]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [52]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [53]:
d1['b']

[1, 2, 3, 4]

In [54]:
'b' in d1

True

In [66]:
d1[5] = 'some value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [75]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [68]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [76]:
d1.pop('dummy')

'another value'

In [77]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [78]:
list(d1.keys())

['a', 'b', 7]

In [81]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [82]:
d1.update({'b':'foo', 'c' : 12})

In [83]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

### Creating dictionaries from sequences
```py
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [86]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### Default values
```javascript
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [96]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [102]:
word

'book'

In [92]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

by_letter = {}
``` py
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter
{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

### set

In [1]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [2]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [4]:
a.union(b) # 합집합

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
a.intersection(b) # 교집합

{3, 4, 5}

In [7]:
a & b

{3, 4, 5}

In [10]:
c = a.copy()

In [11]:
c |= b ### a.update(b) c와 b의 합집합을 c에 할당

In [13]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
d = a.copy()

In [15]:
d &= b ### a.intersection_update(b) # c와 b의 합집합을 c에 할당

In [16]:
d

{3, 4, 5}

## Built-In Sequence Functions

### enumerate

```py
index = 0
for value in collection:
   # do something with value
   index += 1

Since this is so common, Python has a built-in function, enumerate, which returns a sequence of (i, value) tuples:

```py
for index, value in enumerate(collection):
   # do something with value

일반적인 loop문을 사용하여 인덱싱과 값을 뽑아 내는 방법

In [19]:
fruits = ['apple', 'banana', 'cherry', 'date']

for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 cherry
3 date

enumerate() 함수를 사용하여 인덱싱과 값을 뽑아 냈을 때

In [18]:
fruits = ['apple', 'banana', 'cherry', 'date']

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry
3 date

In [21]:
students = ['Alice', 'Bob', 'Charlie', 'Dave']
for i, name in enumerate(students):
    print(f'{name}의 학번은 {i+1}입니다.')

Alice의 학번은 1입니다.
Bob의 학번은 2입니다.
Charlie의 학번은 3입니다.
Dave의 학번은 4입니다.

enumerate() 함수는 파이썬에서 시퀀스(리스트, 튜플 등)를 반복하면서 각 요소의 인덱스를 추적하기 위해 필요합니다. enumerate() 함수는 시퀀스에 카운터를 추가하고, 각 요소의 인덱스와 값을 가지는 튜플을 생성하여 iterable 객체를 반환합니다."

In [2]:
fruits = ['apple', 'banana', 'orange', 'kiwi', 'grape']
find_fruit = 'kiwi'

# find index of the fruit
for i, fruit in enumerate(fruits):
    if fruit == find_fruit:
        index = i
        break

# get the same index value from another list
prices = [1.50, 0.99, 2.00, 3.50, 2.99]
price_of_fruit = prices[index]

# print the result
print(f'The price of {find_fruit} is {price_of_fruit} dollars.')

###위 코드에서는 먼저 fruits 리스트에서 'kiwi'를 찾아서 해당 요소의 인덱스를 저장합니다. 
# 그 다음, 인덱스 값을 사용하여 prices 리스트에서 해당 요소와 동일한 위치의 값을 가져옵니다. 
# 마지막으로, 'kiwi' 과일의 가격을 출력합니다.

The price of kiwi is 3.5 dollars.

### Sorted

In [3]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [4]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

### Zip

In [5]:
seq1 = ["foo", "bar", "baz"]

In [6]:
seq2 = ["one", "two", "three"]

In [12]:
zipped = zip(seq1, seq2)

In [13]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [14]:
seq3 = [False, True]

In [15]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [16]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [17]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

# combine the two lists using zip()
name_age_pairs = zip(names, ages)

# create a list of tuples containing (name, age) pairs
name_age_list = list(name_age_pairs)

# print the result
print(name_age_list)

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [18]:
names = ["John", "Jane", "Mike"]
ages = [19, 21, 20]
heights = [175, 170]

for name, age, height in zip(names, ages, heights):
    if height:
        print(f"{name}의 나이는 {age}세 이고, 키는 {height}cm입니다.")
    else:
        print(f"{name}의 나이는 {age}세입니다.")

John의 나이는 19세 이고, 키는 175cm입니다.
Jane의 나이는 21세 이고, 키는 170cm입니다.

In [19]:
names = ["John", "Jane", "Mike"]
ages = [19, 21, 20]
heights = [175, 170, None]

for name, age, height in zip(names, ages, heights):
    if height:
        print(f"{name}의 나이는 {age}세 이고, 키는 {height}cm입니다.")
    else:
        print(f"{name}의 나이는 {age}세입니다.")

John의 나이는 19세 이고, 키는 175cm입니다.
Jane의 나이는 21세 이고, 키는 170cm입니다.
Mike의 나이는 20세입니다.

### Reversed

In [20]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### List, Set, and Dictionary Comprehensions(컴프리헨션)

```py
[expr for value in collection if condition]

# 컴프리헨션 → 일반적인 loop안에 if문
result = []
for value in collection:
    if condition:
        result.append(expr)

In [ ]:
def loop_to_list_comprehension(loop_string):
    # loop문에서 변수명과 리스트의 범위를 추출합니다.
    var_name = loop_string.split()[1]
    loop_range = loop_string.split()[3]

    # 리스트 컴프리헨션 문자열을 생성합니다.
    list_comp_string = f"[{var_name} for {var_name} in {loop_range}]"

    return list_comp_string

In [2]:
strings = ["a", "as", "bat", "car", "dove", "python"]

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [3]:
result = []

for x in strings:
    if len(x) > 2:
        a = x.upper()
        result.append(a)
result

['BAT', 'CAR', 'DOVE', 'PYTHON']

A dictionary comprehension looks like this:
```py
dict_comp = {key-expr: value-expr for value in collection
             if condition}

A set comprehension looks like the equivalent list comprehension except with curly braces instead of square brackets:
```py
set_comp = {expr for value in collection if condition}

In [28]:
unique_lengths = {len(x) for x in strings}

unique_lengths

{1, 2, 3, 4, 6}

In [29]:
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

In [31]:
list(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [32]:
len(strings)

6

In [34]:
set(map(len, strings))

{1, 2, 3, 4, 6}

### map function을 활용하는 예제

In [36]:
numbers = [1, 2, 3, 4, 5]
squares = map(lambda x: x ** 2, numbers)
print(list(squares))

[1, 4, 9, 16, 25]

In [37]:
add = lambda x, y: x + y
result = add(2, 3)
print(result)

5

In [39]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

map

In [6]:
# 리스트에 값을 하나씩 더해서 새로운 리스트를 만드는 작업
myList = [1, 2, 3, 4, 5]

# for 반복문 이용
result1 = []
for val in myList:
    result1.append(val + 1)

print(f'result1 : {result1}')

result1 : [2, 3, 4, 5, 6]

In [5]:
# map 함수 이용
def add_one(n):
    return n + 1


result2 = list(map(add_one, myList))  # map반환을 list 로 변환
print(f'result2 : {result2}')

result2 : [2, 3, 4, 5, 6]

### Nested list comprehensions

In [1]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
             ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [4]:
# 빈 리스트 생성
names_of_interest = []

# all_data에 대해 반복문 실행
for names in all_data:
    # 해당 이름에서 "a"가 2개 이상 들어간 이름들을 필터링하여 리스트에 저장
    enough_as = [name for name in names if name.count("a") >= 2]   
    # 필터링된 이름들을 names_of_interest 리스트에 추가
    names_of_interest.extend(enough_as)
    
names_of_interest

In [7]:
result = [name for names in all_data for name in names if name.count('a') >= 2]

result

['Maria', 'Natalia']

In [12]:
for names in all_data:
    for name in names:
        if name.count('a') >= 2:
            print(name)

Maria
Natalia

In [13]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
    
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
strings = ['a', 'as', 'bat' , 'car', 'dove', 'python']
loc_mapping = {val : index for index, val in enumerate (strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

## Functions
Functions are the primary and most important method of code organization and reuse in Python. As a rule of thumb, if you anticipate needing to repeat the same or very similar code more than once, it may be worth writing a reusable function. Functions can also help make your code more readable by giving a name to a group of Python statements.   

Functions are declared with the def keyword. A function contains a block of code with an optional use of the return keyword:

In [7]:
def my_function(x, y):
    return x + y

In [9]:
my_function(1, 2)

3

In [10]:
result = my_function(1, 2)

result

3

In [11]:
def function_without_return(x):
    print(x)

In [12]:
result = function_without_return("hello!")

hello!

In [13]:
print(result)

None

In [15]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x+y)
    else:
        return z / (x+y)

In [16]:
my_function2(5, 6, z=0.7)

0.06363636363636363

In [17]:
my_function2(3.14, 7, 3.5)

35.49

In [18]:
my_function2(10, 20)

45.0

### Namespaces, Scope, and Local Functions
Functions can access variables created inside the function as well as those outside the function in higher (or even global) scopes. An alternative and more descriptive name describing a variable scope in Python is a namespace. Any variables that are assigned within a function by default are assigned to the local namespace. The local namespace is created when the function is called and is immediately populated by the function’s arguments. After the function is finished, the local namespace is destroyed (with some exceptions that are outside the purview of this chapter). Consider the following function:

```py
def func():
    a = []
    for i in range(5):
        a.append(i)

In [ ]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [25]:
a

[]

In [26]:
a = []

def func():
    for i in range(5):
        a.append(i)

In [28]:
func()

In [29]:
a

[0, 1, 2, 3, 4]

In [32]:
a = None

def bind_a_variable():
    global a
    a = []

bind_a_variable

print(a)

None

### Returning Multiple Values
When I first programmed in Python after having programmed in Java and C++, one of my favorite features was the ability to return multiple values from a function with simple syntax. Here’s an example:

In [33]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [34]:
return_value = f()

In [35]:
return_value

(5, 6, 7)

In this case, return_value would be a 3-tuple with the three returned variables. A potentially attractive alternative to returning multiple values like before might be to return a dictionary instead:

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a" : a, "b" : b, "c" : c}

### Functions Are Objects

In [36]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [39]:
import re # 정규표현식을 사용하기 위해 re 모듈을 import합니다.

def clean_strings(strings):
result= [] # 빈 리스트를 만들어 결과값을 저장할 준비를 합니다.
for value in strings: # 입력받은 문자열 리스트(strings)의 각 문자열을 value에 대입합니다.
    value = value.strip() # 문자열 양 끝의 공백을 제거합니다.
    value = re.sub("[!#?]", "", value) # 문자열에서 !, #, ? 문자를 찾아 제거합니다.
    value = value.title() # 문자열에서 각 단어의 첫 글자를 대문자로 변경합니다.
    result.append(value) # 결과값 리스트에 변경된 문자열을 추가합니다.
return result # 변경된 문자열 리스트를 반환합니다.

In [41]:
"good man".capitalize()

'Good man'

In [40]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [68]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [67]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result= []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [44]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions
Python has support for so-called anonymous or lambda functions, which are a way of writing functions consisting of a single statement, the result of which is the return value. They are defined with the lambda keyword, which has no meaning other than “we are declaring an anonymous function”:

In [69]:
def short_function(x):
    return x * 2

In [72]:
equiv_anon = lambda x: x * 2

In [80]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [81]:
ints = [4, 0, 1, 5, 6]

In [82]:
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [83]:
[x * 2 for x in ints]

[8, 0, 2, 10, 12]

In [84]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [85]:
set('foo')

{'f', 'o'}

In [86]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [87]:
list(map(lambda x: x+10, [1,2,3,4,5,6]))

[11, 12, 13, 14, 15, 16]

In [88]:
import numpy as np

In [89]:
np.array([1,2,3,4,5,6]) + 10

array([11, 12, 13, 14, 15, 16])

### Generators