### 1. 

이 List 를 이용하여 
```python
[1,2,3,4,5,6,7,8,9,10]
```
List의 모든 element에 10을 더한 새로운 리스트를 만들어보시오.  
결과물의 출력 예시는 아래와 같습니다.  
```python
[11,12,13,14,15,16,17,18,19,20]
```

In [1]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
def add_func(values):
    result = []
    for value in values:
        value = value + 10
        result.append(value)
    return(result)

In [4]:
add_func(values)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 2. 

이 List 를 이용하여 
```python
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
List의 모든 element에 0~9사이의 정수를 순차적으로 더한 새로운 리스트를 만들어보시오.  
결과물의 출력 예시는 아래와 같습니다.  
```python
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
```

### 3. 
다음과 같은 농구선수의 나이와 키를 담은 dictionary가 주어질 때 아래 물음에 답하시오

In [18]:
basket = {'Paul':[36, 183], 'James': [37, 206], 'Durant': [33, 208], 'Trae': [23, 185], 'Harden': [32, 196]}

#### 3.1

아래의 농구선수들 정보를 추가로 입력하여 `basket` object를 업데이트 하시오

In [6]:
add = {'Luka':[23, 201], 'Kyrie': [30, 188]}

In [19]:
basket.update({'Luka':[23, 201], 'Kyrie': [30, 188]})
basket

{'Paul': [36, 183],
 'James': [37, 206],
 'Durant': [33, 208],
 'Trae': [23, 185],
 'Harden': [32, 196],
 'Luka': [23, 201],
 'Kyrie': [30, 188]}

#### 3.2

키가 200이상인 선수이름을 추출하는 코드를 작성하시오

In [ ]:
names_of_interest = []
for names in all_data:
    # print(names)
    enough_es = [name for name in names if name.count('e') >= 1]
    # print(enough_es)
    names_of_interest.extend(enough_es)
names_of_interest

In [28]:
names_of_interest = []
for names in basket:
    # print(names)

Paul
James
Durant
Trae
Harden
Luka
Kyrie

### 4.

다음은 2022년 월드컵에 출전하는 16개의 국가 List를 담고 있다.  
해당 리스트를 국가의 알파벳 첫 글자를 Key로 하고, 같은 첫글자인 국가들을 Value로 담고 있는 딕셔너리로 변환하시오

In [25]:
world = ['Qatar','Germany','Denmark','Brazil','France','Belgium','Croatia',
        'Spain','Serbia','England','Switzerland','Netherlands','Argentina','Iran',
        'South Korea','Japan', 'Canada', 'Australia', 'Costa Rica']