### 1. 

이 List 를 이용하여 
```python
[1,2,3,4,5,6,7,8,9,10]
```
List의 모든 element에 10을 더한 새로운 리스트를 만들어보시오.  
결과물의 출력 예시는 아래와 같습니다.  
```python
[11,12,13,14,15,16,17,18,19,20]
```

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]

b = [x+10 for x in a]
b

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 2. 

이 List 를 이용하여 
```python
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
List의 모든 element에 0~9사이의 정수를 순차적으로 더한 새로운 리스트를 만들어보시오.  
결과물의 출력 예시는 아래와 같습니다.  
```python
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
```

In [2]:
a = [1,2,3,4,5,6,7,8,9,10]

b = []

for idx, x in enumerate(a):
    # print(idx)
    b.append(idx+x)

b

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [3]:
[i+j for i,j in zip(list(range(1,11)), list(range(10)))]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 3. 
다음과 같은 농구선수의 나이와 키를 담은 dictionary가 주어질 때 아래 물음에 답하시오

In [4]:
basket = {'Paul':[36, 183], 'James': [37, 206], 'Durant': [33, 208], 'Trae': [23, 185], 'Harden': [32, 196]}

#### 3.1

아래의 농구선수들 정보를 추가로 입력하여 `basket` object를 업데이트 하시오

In [5]:
add = {'Luka':[23, 201], 'Kyrie': [30, 188]}

In [6]:
basket.update(add)
basket

{'Paul': [36, 183],
 'James': [37, 206],
 'Durant': [33, 208],
 'Trae': [23, 185],
 'Harden': [32, 196],
 'Luka': [23, 201],
 'Kyrie': [30, 188]}

#### 3.2

키가 200이상인 선수이름을 추출하는 코드를 작성하시오

In [7]:
for name in basket:
    print(name)

Paul
James
Durant
Trae
Harden
Luka
Kyrie

In [8]:
player_over_200 = []

for name in basket:
    if basket[name][1] >= 200:
        player_over_200.append(name)

player_over_200

['James', 'Durant', 'Luka']

In [9]:
names_of_interest = []
for names,j in zip(basket, basket.values()):
    if j[1] >= 200:
        names_of_interest.append(names)

names_of_interest

['James', 'Durant', 'Luka']

### 4.

다음은 2022년 월드컵에 출전하는 16개의 국가 List를 담고 있다.  
해당 리스트를 국가의 알파벳 첫 글자를 Key로 하고, 같은 첫글자인 국가들을 Value로 담고 있는 딕셔너리로 변환하시오

In [10]:
world = ['Qatar','Germany','Denmark','Brazil','France','Belgium','Croatia',
        'Spain','Serbia','England','Switzerland','Netherlands','Argentina','Iran',
        'South Korea','Japan', 'Canada', 'Australia', 'Costa Rica']

In [11]:
import itertools

In [12]:
category = {}
for k, g in itertools.groupby(sorted(world), lambda x: x[0]):
    # print(k)
    # print(list(g))
    category[k] = list(g)

category

{'A': ['Argentina', 'Australia'],
 'B': ['Belgium', 'Brazil'],
 'C': ['Canada', 'Costa Rica', 'Croatia'],
 'D': ['Denmark'],
 'E': ['England'],
 'F': ['France'],
 'G': ['Germany'],
 'I': ['Iran'],
 'J': ['Japan'],
 'N': ['Netherlands'],
 'Q': ['Qatar'],
 'S': ['Serbia', 'South Korea', 'Spain', 'Switzerland']}

In [13]:
category = {}

for nation in world:
    letter = nation[0]
    if letter not in category:
        category[letter] = [nation]
    else:
        category[letter].append(nation)

category

{'Q': ['Qatar'],
 'G': ['Germany'],
 'D': ['Denmark'],
 'B': ['Brazil', 'Belgium'],
 'F': ['France'],
 'C': ['Croatia', 'Canada', 'Costa Rica'],
 'S': ['Spain', 'Serbia', 'Switzerland', 'South Korea'],
 'E': ['England'],
 'N': ['Netherlands'],
 'A': ['Argentina', 'Australia'],
 'I': ['Iran'],
 'J': ['Japan']}

In [14]:
category = {}

for nation in sorted(world):
    letter = nation[0]
    if letter not in category:
        category[letter] = [nation]
    else:
        category[letter].append(nation)

category

{'A': ['Argentina', 'Australia'],
 'B': ['Belgium', 'Brazil'],
 'C': ['Canada', 'Costa Rica', 'Croatia'],
 'D': ['Denmark'],
 'E': ['England'],
 'F': ['France'],
 'G': ['Germany'],
 'I': ['Iran'],
 'J': ['Japan'],
 'N': ['Netherlands'],
 'Q': ['Qatar'],
 'S': ['Serbia', 'South Korea', 'Spain', 'Switzerland']}