In [1]:
import numpy as np

## 1. (각 4점)

(1) 다음과 같은 List가 있다고 할 때 해당 List의 끝에 60이란 숫자를 추가하시오

In [5]:
a = [10, 20, 30, 40, 50]
a

[10, 20, 30, 40, 50]

In [6]:
a.append(60)
a

[10, 20, 30, 40, 50, 60]

(2) 다음과 같은 list가 있다고 할 때 숫자 10 전의 모든 합을 계산하는 코드를 작성하시오

In [7]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1, 10, 15, 7, 100]
result = 0
for i in sequence:
    if i == 10:
        break
    result += i
result

21

## 2. (4점)

다음과 같은 사람의 이름(cast)과 이 사람의 키(heights)를 나타내는 List가 있다고 할 때, 앞 글자가 B로 시작하는 사람의 이름을 Key로 하고 키(heights)값을 value로 하는 dictionary로 추출하는 코드를 작성히시오

In [86]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen", "Bob"]
heights = [72, 68, 72, 66, 76, 80]

In [8]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen", "Bob"]
heights = [72, 68, 72, 66, 76, 80]

heights_dict = {}

for i in range(len(cast)):
    if cast[i][0] == 'B':
        heights_dict[cast[i]] = heights[i]

print(heights_dict)

{'Barney Stinson': 72, 'Bob': 80}

## 3. (4점)
아래 `sequence` object의 합을 계산하는 코드를 작성하시오

In [9]:
sequence = [1, 2, None, 4, None, 5, 6, 8, 9, 10]
result = 0
for i in sequence:
    if i == None:
        continue
    result += i
result

45

## 4. (4점)
다음과 같은 농구선수의 나이와 키를 담은 dictionary가 주어질 때 아래 물음에 답하시오

In [11]:
basket = {'Paul':[36, 183], 'James': [37, 206], 'Durant': [33, 208], 'Trae': [23, 185], 'Harden': [32, 196]}

키가 200 이상이면서 나이가 35세 이하인 선수의 이름을 추출하는 코드를 작성하시오

In [12]:
player = []
for name in basket:
    mask = (basket[name][0] <= 35)&(basket[name][1] >= 200)
    if mask:
        player.append(name)
player

['Durant']

## 5. Dictionary (3점)
다음과 같은 list가 있다고 했을 때 이 List를 dictionary 형태로 변환해 보시오

출력결과물은 아래와 같아야 합니다. 

```python
{0: 'apple', 1: 'banana', 2: 'grapes', 3: 'pear'}
```

In [13]:
my_list = ['apple', 'banana', 'grapes', 'pear']
new_dict = {}
for i,j in enumerate(my_list):
    new_dict[i] = j
new_dict

{0: 'apple', 1: 'banana', 2: 'grapes', 3: 'pear'}

## 5. 다음 list를 가지고, 첫글자가 M으로 시작하는 사람 이름만을 뽑아 새로운 List로 할당하는 코드를 작성하시오 (4점)

In [1]:
name_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
             ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [12]:
new = []
for i in name_data:
    for name in i:
        if name[0] == 'M':
            new.append(name)
new

['Michael', 'Mary', 'Maria']

## 6. 아래 list 안에 있는 모든 숫자를 element로 하는 list를 만들어보시오. (5점)

정답은 아래와 같이 출력이 되어야 합니다.  
Hint: List comprehension을 사용하면 쉽게 만들 수 있습니다. list comprehension 안에 for loop를 몇번 사용해야 할지 생각해 보세요.

```python
[1,2,3,4,5,6,7,8,9,10,11,12]
```

In [1]:
nested_list = [[(1, 2), (3, 4)], [(5, 6), (7, 8)], [(9,10),(11,12)]]

In [ ]:
# 3. 
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [30]:
list_com = [x for lst in nested_list for tup in lst for x in tup]
list_com

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

## 7. 다음과 같은 list가 있습니다. `map` 메서드와 `function`을 이용하여 아래 질문에 답해보세요. (5점)

1) 짝수인 숫자는 2배를 하고, 홀수인 숫자는 10을 빼주는 함수를 만들어보세요.

In [36]:
def mul_func(v):
    result = []
    for i in v:
        if i % 2 == 1:
            result.append(i-10)
        else:
            result.append(i*2)
    return(result)

In [39]:
# map 함수 이용
def a_1(n):
    if n % 2  == 0:
        n = n*2
    else:
        n = n-10
    return n

2) 위에서 정의한 function을 활용해서 아래 list의 각 element에 해당 함수를 적용한 결과를 출력해 보세요.

In [41]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [43]:
mul_func(my_list)

[-9, 4, -7, 8, -5, 12, -3, 16, -1, 20, 1, 24, 3, 28, 5, 32, 7, 36, 9, 40]

In [42]:
result = list(map(a_1, my_list))  # map반환을 list 로 변환
print(result)

[-9, 4, -7, 8, -5, 12, -3, 16, -1, 20, 1, 24, 3, 28, 5, 32, 7, 36, 9, 40]

my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]